@charset "UTF-8";
@font-face {
 font-family: 'font01';
 src: url('../fonts/font01.woff') format('woff');
 font-family: 'font02';
 src: url('../fonts/font02.woff') format('woff');	 
}
@font-face {
 font-family: 'font03';
 src: url('../fonts/font03.woff') format('woff');	
}
@font-face {
 font-family: 'font04';
 src: url('../fonts/pirulen.woff') format('woff');	
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
/*  	background: #f4f4f4;  */
}
body{
/* 	height: 100%; */
	min-width: 1240px;
    font: 14px/1.5 Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,SimSun,Heiti,sans-serif;
}
img{
	cursor: pointer!important;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform,height;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 90px;
    right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 90px;
    left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    margin-bottom: 56px;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(169,169,169,0.4);
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate(0,-50%);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}

.swiper-pagination-progress {
    background: rgba(0,0,0,.25);
    position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}

.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255,255,255,.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000;
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px;
}

.swiper-container-cube,
.swiper-container-flip {
    overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    animation: swiper-preloader-spin 1s steps(12,end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

.layer-mask {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: all 0.5s;
    background-color: #3e3e3e;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.swiper-slide-active .layer-mask {
    display: none;
}


.swiper-slide {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    margin-top: 70px;
    margin-bottom: 70px;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}


.swiper-slide-active,
.swiper-slide-duplicate-active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1002;
}

.none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.swiper-slide a {
    background: #fff;
    display: block;
    border-radius: 2px;
}

.swiper-slide-active a:after {
    background: none;
}

.swiper-slide img {
    width: 100%;
    border-radius: 5px;
    display: block;
    height: 100%;
    border: none;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(135deg,#00d9ad,#0092ee);
    width: 30px;
    cursor: default;
    box-shadow: none;
}

.top_right {
    width: 100%;
    margin: 0 auto;
}

.button {
    width: 100%;
    margin: 0 auto;
    top: -290px;
    position: relative;
    z-index: 1002;
}

.button div:hover {
    background-color: #333;
    opacity: 0.8;
    cursor: pointer;
}

.swiper-button-prev {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #000000 center 50%/50% 50% no-repeat;
    opacity: 0.5;
    background-size: 15px;
    cursor: pointer;
}

.swiper-button-next {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #000000 center 50%/50% 50% no-repeat;
    opacity: 0.5;
    background-size: 15px;
    cursor: pointer;
}
.header {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: relative;
    min-width:1128px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    backface-visibility: hidden;
    height: 59px;
    background: hsla(0,0%,100%,.95);
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 0 6px rgba(0,0,0,.06);
}
.header span,em{
    color: #555555;
    line-height: 59px;
}
.iconfont-cart:before {
    content: "\E60C";
}
.iconfont-cart {
	font-size: 18px;
    font-family: font03 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
#login,#list,#car{
	float:right;
	margin-left: 10px;
	margin-right: 10px;
}
#logined{
	margin-left: 10px;
	margin-right: 10px;
	float: right;
    height: 59px;
    display: flex;
    align-items: center;
}
#logined>img{
	width: auto;
	height: 80%;
}
#logined>span{
	display:inline-block;
	height:59px;
	font-size:12px;
	line-height: 59px;
	float: right;
	padding-left: 5px;
}
#login{
	margin-right: 50px;
}
em{
	margin-right: 6px;
}
#car{
	height: 59px;
	text-align:center;
}
#span-car{
	float: right;
}
#car:hover{
	cursor: pointer;
}
#login:hover,#list:hover,#city:hover,#box_search>#logo:hover,.active{
	cursor:pointer;
	background: linear-gradient(-45deg, #ee7752, #7d72db, #23a6d5, #7ed3f2);
    background-size: 300% 300%;
    animation: mybg 5s ease infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes mybg{
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 90% 50%;
	}100% {
		background-position: 20% 50%;
	}
}

img,i{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}
span::selection{
	    background: rgba(0,0,0,0);
	    color: #555555;
}
.iconfont,#city:hover{
	cursor: pointer;
}
#city{
	margin-left: 0;
}
#location{
    margin-left: 50px;
}
#content{
	max-width: 1240px;
	margin: 0 auto;
}
#content>h2{
	clear:both;
	font-size: 22px;
    font-weight: 200;
    -moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
	z-index: 9999;
}
#content>h2:hover{
	cursor: pointer;
}
.container{	
	margin: 0 auto;
	margin-top: -3%;
    font-size: 26px;
    color: #333;
}
ul,li{
	list-style: none;
}
.box_list>ul>li{
	color: #fff;
	display: list-item;
	cursor: pointer;
    text-align: -webkit-match-parent;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
}

#content h2{
	margin-top:2%;
	color: #333;
}
#content>h2>a{
	text-decoration:none;
	color: #333;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    z-index: 999999;
}
#content>h2:nth-child(3){
	margin-top: -2%;
}
.box_list{
	position:relative;
	margin-top: 30px;
}
.box_list>ul{
	margin: 0;
    padding: 20px 0;
	background: linear-gradient(90deg, #484848, #616161,#969696,#c6c6c6);
    background-size: 500% 500%;
    animation: mybg 15s ease infinite;
   	height:356px;
	width:20%;
	min-width: 230px;
	float: left;
}
.box_list>ul>li>a{
    width: 230px;
    padding-left: 30px;
	float: left;
}
.box_list>ul>li>div{
	width:80%;
	float: right;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
	display: none;
	z-index: 99999;
}
.box_list>ul>li>div>ul{
	float: left;
}
.box_list>ul>li>div>ul>li>a{
 	display:block; 
	text-decoration: none;
	height: 56px;
    padding: 18px 20px;
}
.box_list>ul>li>div>ul>li>a>img{
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}
.box_list>ul>li>div>ul>li>a>span{
    float: left;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#333;
    overflow: hidden;
}
.box_list>ul>li>div{
	position:absolute;
	top:0;
	left:230px;
	padding-bottom:20px;
	border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.18);
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
em[class*=li_iconfont]:before {
    content: "\E623";
}
em[class*=li_iconfont] {
	float:right;
    top: 12px;
    margin-right: 20px;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    color: #e0e0e0;
}
[class*=iconfont] {
    font-family: font03 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}
#box_right{
	float:right;
	width: 80%;
}
.icon {
    font-size: 14px;
    background: linear-gradient(-45deg, #ee7752, #7d72db, #23a6d5, #7ed3f2);
    background-size: 300% 300%;
    animation: mybg 5s ease infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: font01,font02;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
#box_search{
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	min-width: 553px;
}
#search{
	float: right;
	max-width:400px;
	min-width:360px;
	height:30px;
	margin:0 auto;
	top: 50%;
	transform: translate(0, 50%);
	border: 1px solid #e0e0e0;
    outline: 0;
    border-radius: 15px;
}

#search>input{
	border: none;
	background: none;
	outline: none;
}
#box_search>#logo{
	float: left;
	font-family: font04!important;
	margin-right: 20px;
	font-size: 18px;
    color: rgba(85,85,85,.4);
}

#search_text{
	height: 30px;
	width:340px;
	padding-left: 15px;
	padding-right: 15px;
	appearance:none; 
	-webkit-appearance:none;
	-moz-appearance:none;
}
#search>span:hover{
	cursor: pointer;
	color:#23a6d5;
}
#search>span{
	float: right;
	color:#ccc;
	line-height:30px;
	width: 30px;
	font-size: 20px;
	z-index: 99999;
}
#search_text::placeholder{
	color:#ccc;
}
input::-webkit-calendar-picker-indicator{
    display: none;
    -webkit-appearance: none;
}
datalist>option{
	width: 100px;
}
/* #bigAutocompleteContent{
	z-index: 9999999999;
	margin-left: 10px;
	border: none;
	width: 340px;
}
#bigAutocompleteContent>table{
	border: 1px solid rgb(35, 166, 213);
} */
#img_box{
    display: block;
    position: relative;
    width: 33.3%;
    height: 356px;
    text-align: center;
    float: left;
    -moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
  	transition:0.6s;  
}
#img_box:hover{
	cursor: pointer;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.18);
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
#img_box>span{
	float: none;
}
#img_box>img{
	height: 248px;
}
#img_box>.info {
    position: absolute;
    top: 248px;
    left: 0;
    width: 100%;
    text-align: center;
}
#img_box>.info>.goods_name {
	display:block;
    color: #333;
    font-size: 24px;
}
#img_box>.info>.goods_desc {
	display:block;
    color:  #b0b0b0;
    font-size: 14px;
    margin: 6px 0 6px 0;
}
#img_box>.info>.goods_price {
    position: relative;
    display: inline-block;
    color: 	#F77777;
    font-size: 22px;
}
.product-sign {
    position: absolute;
    top: 18px;
    left: 18px;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
}
.yellow{
	background-image: linear-gradient(120deg,#24c1d0,#009cb5);
}
.pink{
	background-image: linear-gradient(120deg,#386dbd,#ff64a6);
}
.dack{
	background-image: linear-gradient(120deg,#586dae,#a6bbd8);
}
#content>.phone,#content>.tv,#content>.pc,#content>.earphone,#content>.watch{
	clear:both;
	font-size: 2em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin:1% 0 1% 0;
}
#box_phone,#box_tv{
	width: 102%;
	margin-left: -1%;
}
#phoneimg_box{
	width: 23%;
	float: left;
	height:356px;
	margin:0 1% 1% 1%;
	position: relative;
	transition:0.5s;
}

#phoneimg_box>img{
	display:block;
	margin:0 auto;
	height: 230px;
	transition:0.15s;
} 
#phoneimg_box:hover{
	cursor: pointer;
    -webkit-box-shadow: 4px 8px 16px rgba(6,6,6,.16);
    box-shadow: 4px 8px 16px rgba(6,6,6,.16);
}
#phoneimg_box:hover img{
	padding-top:6px;
	transform:scale(1.05);
}
#phoneimg_box>.info {
    position: absolute; 
    top: 236px;
    left: 0;
    width: 100%;
    text-align: center;
} 
#phoneimg_box>.info>.goods_name {
	display:block;
    color: #333;
    font-size: 20px;
}
#phoneimg_box>.info>.goods_desc {
	display:block;
    color:  #b0b0b0;
    font-size: 12px;
    margin: 3px 0 3px 0;
}
#phoneimg_box>.info>.goods_price {
    position: relative;
    display: inline-block;
    color: 	#F77777;
    font-size: 16px;
}
#line_phone,#line_tv,#line_pc,#line_earphone,#line_watch{
	clear:both;
	width: 100%;
	z-index: 9999;
}
#line_watch{
	margin-top: 2%;
}
#line_phone{
	margin: 2% 0 10px 0;
}
#line_tv{
	margin: 0 0 10px 0;
}
#line_phone:hover{
	cursor: pointer;
}
[data-animation] {
	opacity: 0;
}

[data-animation].animated {
	opacity: 1;
}
#tvimg_box{
	width: 30.3%;
	float: left;
	height:400px;
	margin:-1% 1% 1% 1%;
	position: relative;
	overflow:hidden;
	transition:0.5s;
}
#control{
	clear:both;
	display:block;
	position: relative;
    text-align:right;
}
#control>span{
	display: inline-block;
    width: 36px;
    height: 24px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer;
  /*   overflow: hidden; */
}
#control>span:hover i{
   background: linear-gradient(-45deg, #ee7752, #7d72db, #23a6d5, #7ed3f2);
   background-size: 300% 300%;
   animation: mybg 5s ease infinite;
   color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#control>span.disable i,#control>span .disable:hover{
 	color:#e0e0e0;
}
#control>span>i{
	display: block;
	margin:  0 auto;
	text-align: center;
	line-height: 24px;
}

#box_pcout{
	clear:both;
	width: 100%;
	height: 370px;
	padding-top:30px;
	overflow-x:hidden;
	-webkit-overflow-x:hidden;
	position: relative;
}
#box_pc{
	position: absolute;
	width: 200%;
}
#pcimg_box{
	width: 10.5%;
	float: left;
	height:340px;
	margin:-1% 1% 1% 1%;
	position: relative;
	transition:0.5s;
}
#tvimg_box:hover,#pcimg_box:hover{
	cursor: pointer;
    -webkit-box-shadow: 4px 8px 16px rgba(0,0,0,.16);
    box-shadow: 4px 8px 16px rgba(0,0,0,.16);
}
#tvimg_box:hover>img,#pcimg_box:hover>img{
	transform:scale(1.06);
}
#tvimg_box>img{
	display:block;
	margin:0 auto;
	margin-top:-20px;
	width:376px;
	transition:0.3s;
} 
#pcimg_box>img{
	display:block;
	margin:0 auto;
	width:260px;
	transition:0.3s;
} 
#pcimg_box>.info>.goods_price,#pcimg_box>.info>.goods_price>del{
    font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
}
#tvimg_box>.info{
    position: absolute; 
    top: 300px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
} 
#pcimg_box>.info{
    position: absolute; 
    top:230px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
} 
#tvimg_box>.info>.goods_name,#pcimg_box>.info>.goods_name{
	display:block;
    color: #333;
    font-size: 20px;
}
#tvimg_box>.info>.goods_desc,#pcimg_box>.info>.goods_desc{
	display:block;
    color:  #b0b0b0;
    font-size: 12px;
    margin: 3px 0 3px 0;
}
#tvimg_box>.info>.goods_price,#pcimg_box>.info>.goods_price{
    position: relative;
    display: inline-block;
    color: 	#F77777;
    font-size: 16px;
}
#box_earphone,#box_watch{
	width: 100%;
}
#box_earphone>#innner,#box_watch>#innner{
	clear:both;
	width: 100%;
}
#box_earphone>#innner:nth-child(2){
	padding-top: 1%;
}
#box_earphone>#innner>#left{
	float: left;
	width: 30%;
}
#box_watch>#innner>#left{
	float: left;
	width: 20%;
}
#box_earphone>#innner>#left>img{
	display:block;
	width: 360px;
	margin: 0 auto;
}
#box_watch>#innner>#left>img{
	display:block;
	width: 234px;
	margin: 0 auto;
}
#box_earphone>#innner>#right{
	float: right;
	width: 70%;
}
#box_watch>#innner>#right{
	float: right;
	width: 80%;
}
#box_earphone>#innner>#right>#earphoneimg_box,#box_watch>#innner>#right>#watchimg_box{
	width: 23%;
	position: relative;
	margin: 0 1% 0 1%;
	float: left;
	overflow: hidden;
	height: 240px;
	transition:0.5s;
}
#box_watch>#innner>#right>#watchimg_box{
	height: 340px;
}
#box_earphone>#innner>#right>#earphoneimg_box>img,#box_watch>#innner>#right>#watchimg_box>img{
	width: 180px;
	display: block;
	margin: 0 auto;
	margin-top: -5%;
}
#box_watch>#innner>#right>#watchimg_box>img{
	margin-top: 4%;
	width: 240px;
	transition:0.6s;
}
#box_earphone>#innner>#right>#earphoneimg_box:hover,#box_watch>#innner>#right>#watchimg_box:hover{
	cursor: pointer;
    box-shadow: 4px 8px 16px rgba(0,0,0,.16);
}
#box_watch>#innner>#right>#watchimg_box:hover img{
	transform:scale(1.06);
}
#box_earphone>#innner>#right>#earphoneimg_box>.info,#box_watch>#innner>#right>#watchimg_box>.info {
    position: absolute; 
    top: 174px;
    left: 0;
    width: 100%;
    text-align: center;
    background:#FFF;
    z-index: 9999;
} 
#box_watch>#innner>#right>#watchimg_box>.info{
	top: 248px;
}
#box_earphone>#innner>#right>#earphoneimg_box>.info>.goods_name{
	display:block;
    color: #333;
    font-size: 15px;
}
#box_watch>#innner>#right>#watchimg_box>.info>.goods_name{
	display:block;
    color: #333;
    font-size: 18px;
}
#box_earphone>#innner>#right>#earphoneimg_box>.info>.goods_desc{
	display:block;
    color:  #b0b0b0;
    font-size: 10px;
    margin: 3px 0 3px 0;
}
#box_watch>#innner>#right>#watchimg_box>.info>.goods_desc{
	display:block;
    color:  #b0b0b0;
    font-size: 14px;
    margin: 3px 0 3px 0;
}
#box_earphone>#innner>#right>#earphoneimg_box>.info>.goods_price
{
    position: relative;
    display: inline-block;
    color: 	#F77777;
    font-size: 14px;
}
#box_watch>#innner>#right>#watchimg_box>.info>.goods_price{
    position: relative;
    display: inline-block;
    color: 	#F77777;
    font-size: 16px;
}
#box_earphone>#innner>#right>#earphoneimg_box>.info>.goods_price>del{
    font-size: 12px;
    margin-left: 5px;
    color: #b0b0b0;
}
#box_watch>#innner>#right>#watchimg_box>.info>.goods_price>del{
    font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
}
#tip{
   clear:both;
   color: #b0b0b0;
   padding-top: 4%;
   margin-left: 10px;
   line-height: 16px;
   font-size: 16px;
}
#logined>img{
	border-radius: 50%;
}
#logined:hover{
	cursor: pointer;
}
.footer{
	clear:both;
	display: block;
	text-align: center;
	width: 100%;
	padding: 50px 0 10px 0;
}
.footer p {
	color:#999;
	transition:all 0.3s;
	opacity: 0.7;
}
.footer p:hover{ 
	text-shadow:3px 3px 3px #999;
	opacity: 0.8;
	cursor: pointer;
}
.nf-intro {
    padding: 10px;
}