@charset "utf-8";
*, ::before, ::after {
    margin: 0;
    padding: 0;
    border:none;
    box-sizing: border-box;
}
a::selection,p::selection{
	    background: rgba(0,0,0,0);
}
html{
	width: 100%;
	height: 100%;
/* 	background: #f5f5f5; */
/* 	background: linear-gradient(135deg,#7d72db,#7ed3f2); */
	background: linear-gradient(-45deg, #ee7752, #7d72db, #23a6d5, #7ed3f2);
    background-size: 300% 300%;
    animation: mybg 8s ease infinite;
}
@keyframes mybg{
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 90% 50%;
	}100% {
		background-position: 20% 50%;
	}
}
body{
	height: 100%;
}
.parent{
	width: 100%;
    max-width: 750px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 20% 4%;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.05);
   	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
h2{
	text-align: center;
	font-family: "微软雅黑";
	font-weight: normal;
	margin-top: 6%;
	padding-top: 4%;
}
form{
	text-align: center;
	margin-top: 2%;
}
[class='parent']{
	background: #FFFFFF;
}
input[type='text'],input[type='password'],input[type='submit'],#getcode{
	width: 58%;
	height: 45px;
	margin-top: 5%;
	border: none;
	border-bottom: 1px solid #CDCDCD;
	line-height: 45px;
	border-radius: 0px;
}
#getcode{
	margin:0 auto;
	margin-top: 5%;
}
#input_code{
	width: 68%;
	height: 35px;
	border: none;
	border-bottom: none;
	border-radius: 0px;
	margin-top: 0;
	text-align:left;
	padding-top:-10px;
}
#code{
	width:32%;
	display:block;
	float:right;
	text-align:right;
	padding-right:10px;
	color:#515151;
	margin: 0 auto;
}
#code:hover{
	cursor: pointer;
	color:#000000;
	opacity:0.6;
}
input:focus{
	outline:none;
	border-bottom: 1px solid #3385ff;
}
input[type='submit']{
	border: none;
	background: linear-gradient(135deg,#00d9ad,#0092ee);
	color:#ffffff;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	-webkit-appearance: none; 
	margin-top: 3.5%;
}
input[type='submit']:hover{
	opacity:0.8;
	cursor: pointer;
}
.child{
	width: 80%;
	padding-left: 11.5%;
	padding-right: 11%;
	margin: 0 auto;
}
a{
	margin-top: 5%;
	font-size: 14px;
	color: #666666;
	text-decoration:none;
}
#changdefault,#backdefault{
	float: left;
}
#changdefault:hover,#backdefault:hover{
	cursor: pointer;
	opacity: 0.7;
}
#forget{
	float: right;
}
#forget:hover{
	cursor: pointer;
}
#cc{
    width: 58%;
}
#tip{
/*     background: linear-gradient(135deg,#00d9ad,#0092ee);
    -webkit-background-clip: text;
    color: transparent; */
    color: #0092ee;
	text-align:left;
	display:none;
	margin-left: 26%;
}
a:hover{
	opacity: 0.6;
}
.other p{
	display:block;
    font-size: 16px;
    color: #b0b0b0;
    width: 100%;
    text-align:center;
    margin:0 auto;
    padding-top: 10px;
    margin-bottom: 20px;
}
div[class="other"]{
	clear: both;
	padding-bottom: 10%
}
[class^="icon_"]{
	display:block;
	background: url("../images/icons.png") no-repeat;
    width: 18px;
    height: 18px;
    margin: 5px auto 0;
}
[class="icon_qqlogin"]{
    background-position: -19px 0;
}
[class="icon_weibologin"]{
    background-position: -38px 0;
}
[class="icon_alipaylogin"]{
    width: 26px;
    background-position: -57px 0;
}
[class^="btn_"]{
	display:inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}
[class^="btn_"]:hover{
	opacity: 0.8;
	cursor: pointer;
}
.btn_qq {
    background-color: #72C7DB;
}
.btn_alipay {
    background-color: #6BB6EA;
}
.btn_weibo {
    background-color: #ED9090;
}
.footer{
	position:fixed;
	bottom:10px;
	text-align: center;
	width: 100%;
	display: block;
}
.footer p {
	color:#FFFFFF;
	transition:all 0.3s;
	opacity: 0.7;
}
.footer p:hover{ 
	text-shadow:3px 3px 3px #FFFFFF;
	opacity: 0.8;
	cursor: pointer;
}
.nf-intro {
    padding: 10px;
}
.default{
	display: none;
}
#backdefault{
	display: none;
}
div.l {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.5);
}
.sonic {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
#cc1 { 
	width: 100%;
	height: 100%;
	display: block;
}
canvas { display: block; }