<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>shop</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>confReloadCheckInterval</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>confPath</param-name>
      <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>shop.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Getcode</servlet-name>
    <servlet-class>shop.Getcode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>shop.CheckUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Findpwd</servlet-name>
    <servlet-class>shop.Findpwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Searchgoods</servlet-name>
    <servlet-class>shop.Searchgoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Getgoodsmsg</servlet-name>
    <servlet-class>shop.Getgoodsmsg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddToCar</servlet-name>
    <servlet-class>shop.AddToCar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowCar</servlet-name>
    <servlet-class>shop.ShowCar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>shop.DeleteGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAndCut</servlet-name>
    <servlet-class>shop.AddAndCut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>shop.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TakeOrder</servlet-name>
    <servlet-class>shop.TakeOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Updateusermsg</servlet-name>
    <servlet-class>shop.Updateusermsg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>shop.ShowOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFiles</servlet-name>
    <servlet-class>shop.UploadFiles</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Getcode</servlet-name>
    <url-pattern>/Getcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Findpwd</servlet-name>
    <url-pattern>/Findpwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Searchgoods</servlet-name>
    <url-pattern>/Searchgoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Getgoodsmsg</servlet-name>
    <url-pattern>/Getgoodsmsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCar</servlet-name>
    <url-pattern>/AddToCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCar</servlet-name>
    <url-pattern>/ShowCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/DeleteGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAndCut</servlet-name>
    <url-pattern>/AddAndCut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TakeOrder</servlet-name>
    <url-pattern>/TakeOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Updateusermsg</servlet-name>
    <url-pattern>/Updateusermsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFiles</servlet-name>
    <url-pattern>/UploadFiles</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
</web-app>